block content
	div.historymain_wrapper(id='divHistory')
		div.historysection1
			div.row.mt-2
				div.col-md-6.text-start
					h6(id='labelHistoryPlayerId')
				div.col-md-2
					button.aGPT(id="btnHistoryTimeframe", title='timeframe') TIMEFRAME
		div.historysection2
			div.pitchviewwrapper(id="divHistoryPitchParentId")
